@font-face {
    font-family: "Exo2";
    src: url("Exo2Light.eot");
    src: url("Exo2Light.eot") format("embedded-opentype"),
         url("Exo2Light.svg#Exo2Light") format("svg"),
         url("Exo2Light.woff2") format("woff2"),
         url("Exo2Light.woff") format("woff"),
         url("Exo2Light.ttf") format("truetype");
		 font-style: normal;
		 font-weight: 300;
}
@font-face {
    font-family: "Exo2";
    src: url("Exo2LightItalic.eot");
    src: url("Exo2LightItalic.eot") format("embedded-opentype"),
         url("Exo2LightItalic.svg#Exo2LightItalic") format("svg"),
         url("Exo2LightItalic.woff2") format("woff2"),
         url("Exo2LightItalic.woff") format("woff"),
         url("Exo2LightItalic.ttf") format("truetype");
		 font-style: italic;
		 font-weight: 300;
}
@font-face {
   font-family: "Exo2";
    src: url("Exo2Regular.eot");
    src: url("Exo2Regular.eot") format("embedded-opentype"),
         url("Exo2Regular.svg#Exo2Regular") format("svg"),
         url("Exo2Regular.woff2") format("woff2"),
         url("Exo2Regular.woff") format("woff"),
         url("Exo2Regular.ttf") format("truetype");
		 font-style: normal;
		 font-weight: 400;
}
@font-face {
   font-family: "Exo2";
    src: url("Exo2Italic.eot");
    src: url("Exo2Italic.eot") format("embedded-opentype"),
         url("Exo2Italic.svg#Exo2Italic") format("svg"),
         url("Exo2Italic.woff2") format("woff2"),
         url("Exo2Italic.woff") format("woff"),
         url("Exo2Italic.ttf") format("truetype");
		 font-style: italic;
		 font-weight: 400;
}
@font-face {
	font-family: "Exo2";
    src: url("Exo2Bold.eot");
    src: url("Exo2Bold.eot") format("embedded-opentype"),
         url("Exo2Bold.svg#Exo2Bold") format("svg"),
         url("Exo2Bold.woff2") format("woff2"),
         url("Exo2Bold.woff") format("woff"),
         url("Exo2Bold.ttf") format("truetype");
		 font-style: normal;
		 font-weight: 700;
}
@font-face {
    font-family: "Exo2";
    src: url("Exo2BoldItalic.eot");
    src: url("Exo2BoldItalic.eot") format("embedded-opentype"),
         url("Exo2BoldItalic.svg#Exo2BoldItalic") format("svg"),
         url("Exo2BoldItalic.woff2") format("woff2"),
         url("Exo2BoldItalic.woff") format("woff"),
         url("Exo2BoldItalic.ttf") format("truetype");
		 font-style: italic;
		 font-weight: 700;
}
